.ChatList {
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    /* max-height: 400px;
    overflow-y: auto; */
    width: 100%;
  }
  
  .ChatList > div {
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    border-radius: 20px;
  }
  
  .ChatList div .title {
    font-weight: bold;
    font-size: 1.2em;
    color: #2c3e50;
    margin-bottom: 5px;
    padding-left: 15px;
  }
  
  .ChatList div .content {
    color: #34495e;
    font-size: 1em;
    line-height: 1.5;
    padding-left: 15px;
  }